
.flexible-container{
   display:flex;
   margin-bottom: 40px;
}
.half-width{
   width:50%;
   height: 105%;
   padding-left: 5%;
   padding-top: 2%;
   box-shadow: 10px 10px 50px grey;
}
.half-width img{
   width: 60%;
}

.link-button{
   color: white;
   font-size: larger;
   font-weight: bold;
   background-image: linear-gradient(rgb(255, 145, 0), red);
   border-radius: 10px;
   text-decoration: none;
   /* padding: 13px 40px; */
   box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.8);
}
.violet{
   color: seagreen;
   font-size: x-large;
}